<!DOCTYPE html>
<section class="content content-title">
  <div class="container">
    <div class="content-box">
      <div class="content-main">
        <h2 class="content-main__title">Результаты поиска</h2>
      </div>
    </div>
  </div>

</section>
<section class="content">
  <div class="container">
    <div class="content-box">
      <div class="content-film">
        @if(film) {
        <div class="content-film__img">
          <img [src]="film.image" alt="film">
        </div>
        <div class="content-film__info">
          <div class="content-film__info__content">
            <div class="content-film__info__title">
              <h1>{{ film.title}},</h1>
              <p>{{ film.original}}</p>
            </div>
            <p class="content-film__info__description">
              {{ film.category}}
            </p>
            <div class="content-film__info__rating">{{ film.rating}}</div>
            <p class="content-film__info__text">
              Марсианская миссия «Арес-3» в процессе работы была вынуждена экстренно покинуть планету из-за
              надвигающейся песчаной
              бури. Инженер и биолог Марк Уотни получил повреждение скафандра во время песчаной бури. Сотрудники
              миссии, посчитав его
              погибшим, эвакуировались с планеты, оставив Марка одного.

            </p>

          </div>
          <div class="content-film__info__controls">
            <button>Смотреть</button>
          </div>
        </div>
        }

        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>

</section>
